.claims-container {
  text-align: center;
  padding: 100px 80px 0px;
  font-family: "Poppins", sans-serif;
}

.cont {
  position: relative;
  width: 350px;
  height: 350px;
  margin: auto;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed var(--primary-color);
}
.circleOuter {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed var(--primary-color);
}

.center-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--primary-color);
}

.center-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Life .icon {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
}
.Motor .icon {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
}
.Health .icon {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
}
.Travel .icon {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
}
.icon img {
  width: 24px;
  height: 24px;
}
.icon i {
  font-size: 24px;
  padding: 0px 6px;
  color: var(--primary-color);
}
.twoColumGrid h1 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}
.twoColumGrid h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}
.insuSteps h1 {
  font-size: 20px;
  margin: 0px;
  color: var(--primary-color);
}
.insuSteps h3 {
  font-size: 22px;
  margin: 0px;
  color: var(--primary-color);
  font-weight: bold;
}
.threeColumGrid > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--primary-color);
}
.threeColumGrid p {
  text-align: center;
}
.insuSteps {
  padding: 60px 80px;
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}
.claimType {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.claimType .step {
  font-size: 48px;
  font-weight: bold;
}
.claimType .claimIcon {
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  padding: 8px 15px;
  font-size: 35px;
  background-color: #fff;
}
.threeColumGrid h4 {
  font-size: 18px;
  font-weight: bold;
}
.gridColmn5 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  background: var(--secondary-color);
  margin-top: 30px;
  border-radius: 6px;
  /* padding: 5px 0px; */
}
.gridColmn5 i {
  font-size: 25px;
}
.typesOfInsurance {
  padding: 60px 80px 30px;
  font-family: "Poppins", sans-serif;
}
.insuTypeCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 44px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

/* .insuTypeCont:hover {
  transform: scale(1.03);
} */

.insuTypeCont.active {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10px;
}
.Motor ul {
  padding: 0px 18px;
}
.insTypeCont {
  position: relative;
}
.insTypeCont .circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed var(--primary-color);
}
.insTypeCont .center-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--primary-color);
}
.Travel .twoColumGrid {
  grid-template-columns: 60% 40%;
}
.Motor .twoColumGrid {
  grid-template-columns: 60% 40%;
}
.Health .twoColumGrid {
  grid-template-columns: 60% 40%;
}
.Life .twoColumGrid {
  grid-template-columns: 60% 40%;
}

@media (max-width: 420px) {
  .claims-container {
    padding: 100px 10px 30px;
  }
  .twoColumGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 48px;
  }
  .insuSteps {
    padding: 30px 10px;
  }
  .threeColumGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .typesOfInsurance {
    padding: 40px 10px 30px;
  }
  .gridColmn5 {
    margin: 20px 0px;
  }
  .gridColmn5 .insuTypeCont {
    flex-direction: column;
    height: 80px;
    gap: 0px;
  }
  .Health .circle {
    top: 135px;
  }
  .Motor .circle {
    top: 135px;
  }
  .Life .circle {
    top: 135px;
  }
  .Travel .circle {
    top: 135px;
  }
  .icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .claims-container {
    padding: 100px 10px 30px;
  }
  .twoColumGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 48px;
  }
  .insuSteps {
    padding: 30px 10px;
  }
  .threeColumGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .typesOfInsurance {
    padding: 40px 10px 30px;
  }
  .gridColmn5 {
    margin: 20px 0px;
  }
  .gridColmn5 .insuTypeCont {
    flex-direction: column;
    height: 80px;
    gap: 0px;
  }
  .Health .circle {
    top: 135px;
  }
  .Motor .circle {
    top: 135px;
  }
  .Life .circle {
    top: 135px;
  }
  .Travel .circle {
    top: 135px;
  }
  .icon {
    display: none;
  }
}
