.aboutCont {
  padding-top: 78px;
}

.compresive {
  background-color: var(--primary-color);
  padding: 64px 80px 40px;
  color: #fff;
}
.threeColumGrid div {
  padding: 20px;
  background: #fff;
  color: #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.threeColumGrid {
  padding-bottom: 20px;
}
.aboutHeading {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 64px;
}
.misionPara {
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
}
