.aboutCont {
  padding-top: 78px;
}

.compresive {
  background-color: var(--primary-color);
  padding: 64px 80px 40px;
  color: #fff;
}
.clm6grid div {
  padding: 20px;
  background: #fff;
  color: #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clm6grid {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.clm6grid img {
  width: 54px;
}
.clm6grid h5 {
  margin: 20px 0px 5px;
}
.aboutHeading {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 34px;
}
.misionPara {
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
}

@media (max-width: 420px) {
  .aboutHeading {
    padding: 30px 10px;
    flex-direction: column;
    gap: 0px;
  }
  .compresive {
    padding: 40px 10px;
  }
  .clm6grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutHeading img {
    width: 100%;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .aboutHeading {
    padding: 30px 10px;
    flex-direction: column;
    gap: 0px;
  }
  .compresive {
    padding: 40px 10px;
  }
  .clm6grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutHeading img {
    width: 100%;
    padding-bottom: 20px;
  }
}
