.nav-link {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.navbarCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 1.5rem 2rem;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navList li {
  list-style: none;
  margin-right: 24px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-link.active {
  color: var(--primary-color);
  font-weight: bold;
}
