.nav-link {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.navbarCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 1.2rem 2rem;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navList li {
  list-style: none;
  margin-right: 24px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-link.active {
  color: var(--primary-color);
  font-weight: bold;
}
.rightToggle {
  display: none;
}
.offcanvas-body {
  background-color: var(--secondary-color);
}
.offcanvas {
  width: 60%;
}
.quoteCont {
  background-color: var(--secondary-color);
  padding: 30px;
}

.quoteForm {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
  align-items: center;
  padding-bottom: 20px;
}
input {
  border: 1px solid var(--primary-color);
  padding: 0px 10px;
  border-radius: 4px;
}
input:focus {
  outline: none;
}
.quoteCont .bttn {
  width: 20%;
}
@media (max-width: 420px) {
  nav {
    padding: 1.5rem 1rem;
  }
  .windowLinks {
    display: none;
  }
  .rightToggle {
    display: block;
  }
  .offcanvas-body .navList {
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
  }
  .offcanvas {
    width: 100%;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 1.5rem 1rem;
  }
  .windowLinks {
    display: none;
  }
  .rightToggle {
    display: block;
  }
  .offcanvas-body .navList {
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
  }
  .offcanvas {
    width: 100%;
  }
}
