.twoColumGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.threeColumGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.textCenter {
  text-align: center;
}
.fourColumGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.bttn {
  border: none;
  background: var(--primary-color);
  color: #fff;
  height: 46px;
  border-radius: 4px;
}
.bttn:hover {
  background: rgba(1, 154, 218, 0.8);
  color: #fff;
}
